In [6]:
import pandas as pd 
jobs = pd.read_csv("C:\\Users\\carswje\\OneDrive - HII\\Documents\\GitHub\\Fleet-Sustainment-HVAC-Project\\RawData\\cvn-hvac-jobs-data.csv")
supply = pd.read_csv("C:\\Users\\carswje\\OneDrive - HII\\Documents\\GitHub\\Fleet-Sustainment-HVAC-Project\\RawData\\cvn-hvac-supply-data.csv")

C:\Users\carswje\AppData\Local\Temp\ipykernel_24276\2689457956.py:2: DtypeWarning: Columns (3,4,20) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs = pd.read_csv("C:\\Users\\carswje\\OneDrive - HII\\Documents\\GitHub\\Fleet-Sustainment-HVAC-Project\\RawData\\cvn-hvac-jobs-data.csv")

0        2-200-01-Q
1         2-180-0-L
2          2-84-0-Q
3        03-148-2-Q
4         2-165-0-Q
            ...
47345    03-171-2-Q
47346    NOT APPLIC
47347     4-113-0-C
47348     3-111-0-L
47349    01-156-5-Q
Name: location, Length: 47350, dtype: object

In [3]:
### Proprotions of frequencies table
jobs['apl'].value_counts(normalize = 'True').round(2) #Proportions using normalize 



apl_lengths = [len(s) for s in jobs['apl'].astype('string').dropna()]  #Table displays how often an apl has 8 characters, 9 characters, etc. 
df = pd.DataFrame({'length':apl_lengths}) 
table = df['length'].value_counts().reset_index()
table

   length  count
0       9  30663
1      11   7803
2       8   4950
3      10   3227
4       5    368
5       4    251
6       7      2

In [ ]:
#looking at components of location
sub = jobs[jobs['location'].str.count('-') == 3]
components = sub['location'].str.split("-", expand = True)
components = components.rename(columns = {0: 'Level', 1: 'Front to Back', 2: 'Distance from Center', 3: 'Purpose'})


# components['Level'].value_counts(normalize=True).round(2)
# components['Front to Back'].value_counts(normalize=True).round(2)
# components['Distance from Center'].value_counts(normalize=True).round(2)
# # components['Purpose'].value_counts(normalize=True).round(2)